body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/ZosI56d/curly-wave-of-light-green-smoke-on-white-background-abstract-motion-background_smgx7_1xl_thumbnail-full08.png);
  background-attachment: fixed;
  background-color: #c6ffb3;
}

a {
  color: #00B7FF;
}


footer {
 position: absolute;
    bottom: 10px;
}

header {
  margin-left: -50px;
  margin-top: -50px;
  margin-right: -50px;
  padding: 20px;
  background-color: #c6ffb3;
  
  
}

#email, #passwd, #confirm,#password{
   width: 400px;
  
}


#import{
  width: 400px;
  margin: 10px;
  
}
#impBut{
  margin: 10px;
  
}
#myProf{
  position: fixed;
  right: 150px;
  background-color: #b3ffff;
  color: black;
}
#mainEl{
  font-size: 20px;
  padding: 10px;
  
  border-bottom: dotted;
  border-bottom-width: 2px;
  border-bottom-color: black;
}

#options {
  padding: 10px;
}

#option{
  color: black;
  background-color: #f2f2f2;
  margin: 10px;
  border-color: black;
  
}

#logout{
    position: fixed;
    right: 50px;
    background-color: #ff9999;
    color: black;
  
}
