<header></header>
<div class="container" style="margin-bottom: 4em;" ng-cloak>
  <div id="wrapper">
 
    <form  id="db" class="form-horizontal"  >
      
      <div class="form-group">
        <div class="col-sm-8">
         
          <button type="submit" id="btn-populate" class="btn btn-default" ng-click="vm.populate()">Vnesi v bazo</button>
          <button type="submit" id="btn-delete" class="btn btn-default"  ng-click="vm.delet()">Izbriši podatke</button>
        </div>
      </div>

       
    </form>
  </div>
</div>

<footer></footer>