<header style="margin-bottom: 15px"></header>
<div role="allert" class="alert alert-danger" ng-show="vm.obvestilo">{{vm.obvestilo}}</div>
<form role ="form" ng-submit="vm.shrani()" class="form-horizonral">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Študijsko leto:</label>
                <select ng-click="vm.izbrano()" class="form-control" ng-model="vm.podatki.studijskoLeto" ng-options='sl as (sl.studijsko_leto) for sl in vm.studijskaLeta track by sl._id'></select>
            </div>
        </div>
        <div ng-show="vm.podatki.studijskoLeto" class="row">
            <div class="form-group col-sm-4">
                <label>Predmet:</label>
                <select ng-click="vm.izbranPredmet()" class="form-control" ng-model="vm.podatki.predmet" ng-options='pr as (pr.sifra + ", " + pr.naziv) for pr in vm.predmeti track by pr._id'></select>
            </div>
        </div>
        <div ng-show="vm.podatki.predmet" class="row">
            <div class="form-group col-sm-4">
                <label>Izvedbe predmeta:</label>
                <select class="form-control" ng-model="vm.podatki.izvedbe" ng-options='iz as (iz.izvajalci[0].ime + " " + iz.izvajalci[0].priimek + "  " + iz.izvajalci[1].ime + " " + iz.izvajalci[1].priimek + "  " + iz.izvajalci[2].ime + " " + iz.izvajalci[2].priimek) for iz in vm.izvedbe track by iz._id'></select>
            </div>
        </div>
        <div ng-show="vm.podatki.predmet" class="row">
            <div class="form-group col-sm-4">
                <label>Datum:</label>
                <input class="form-control" type="date" ng-model="vm.podatki.datum"/>
            </div>
        </div>
        <div ng-show="vm.podatki.predmet" class="row">
            <div class="form-group col-sm-4">
                <label>Lokacija:</label>
                <input class="form-control" type="text" ng-model="vm.podatki.lokacija"/>
            </div>
        </div>
        <div ng-show="vm.podatki.predmet" class="row">
            <div class="form-group col-sm-4">
                <label>Maksimalno število prijav:</label>
                <input class="form-control" type="text" ng-model="vm.podatki.maxPrijav"/>
            </div>
        </div>

        <button class="btn btn-success"  type="submit">Shrani</button>
        <button class="btn btn-danger" type="button" ng-click="vm.preklici()">Prekliči</button>
    </div>
</form>