<header style="margin-bottom: 15px"></header>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
             <select class="form-control" ng-model="vm.studijskoLeto" ng-options='sl as (sl.studijsko_leto) for sl in vm.studijskaLeta track by sl._id'></select>
        </div>
        <button class="btn btn-primary" ng-click="vm.prikazi()">Prikaži</button>
    </div>
    <div class="row" style="margin-left: 0px; margin-top:20px">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <a href="/dodajIzpitniRok/profesor" class="btn"><div class="glyphicon glyphicon-plus-sign"></div></a>
    <div class="container table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Predmet</th>
                    <th>Datum in ura</th>
                    <th>Lokacija</th>
                    <th>Izvajalci</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rok in vm.VsiRoki | filter:iskanje" ng-class="(rok.valid ? '' : 'alert alert-danger')">
                    <td>{{ rok.predmet.sifra }}, {{ rok.predmet.naziv }}</td>
                    <td>{{ rok.datum_izvajanja | date: 'dd. MM. yyyy hh:mm' }}</td>
                    <td>{{ rok.lokacija }}</td>
                    <td>
                        <ul>
                            <li ng-repeat="izvajalci in rok.izvajalci">{{ izvajalci.priimek }} {{ izvajalci.ime }}</li>
                        </ul>
                    </td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(rok._id)">Uredi</button></td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>