<style>
  .clean {
    padding:0;
    margin:0;
    width: 100%;
  }
  ul,li {
    list-style-type: none;
    margin:0;
    padding:0;
  }
  .datum {
    width: 13em;
  }
  .ocena {
    width: 5em;
  }
  .stPolaganj {
    width: 7em;
  }
  .clean td {
    padding:8px;
  }
</style>

<header style="margin-bottom: 15px"></header>
<div ng-init="vm.najdiKartotecniList()"></div>
<h2>Kartotečni list:  {{vm.kart.ime}} {{vm.kart.priimek}}</h2><br>
<div role="allert" class="alert alert-danger" ng-show="vm.obvestilo">{{vm.obvestilo}}</div>
<form role ="form"  class="form-horizonral">
  <div class="col-sm-12">
    <div class="row">
        <div class="form-group col-sm-4">
            <label>Vpisna številka:</label>
            <div class="form-control" type="text" value="{{vm.kart.vpisna_stevilka}}" ng-model="vm.kart.vpisna_stevilka">{{vm.kart.vpisna_stevilka}}</div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <label>Priimek:</label>
            <div class="form-control" type="text" value="{{vm.kart.priimek}}" ng-model="vm.kart.priimek"> {{vm.kart.priimek}}</div>
        </div>
           <div class="form-group col-sm-4">
            <label>Ime:</label>
            <div class="form-control" type="text" value="{{vm.kart.ime}}" ng-model="vm.kart.ime">{{vm.kart.ime}} </div>
        </div>
   
    </div>

    <div ng-repeat="letnik in vm.kart.studijska_leta_studenta">
      <div class="row">
          <div class="form-group col-sm-4">
              <div>Študijsko leto: {{letnik.studijsko_leto.studijsko_leto}}</div>
            </div>
            <div class="form-group col-sm-4">
              <div>Vrsta študija: {{letnik.vrsta_studija.sifra}},  {{letnik.vrsta_studija.opis}}</div>
         </div>
      </div>
      <div class="row">
          <div class="form-group col-sm-4">
              <div>Letnik: {{letnik.letnik.naziv}}</div>
            </div>  
          <div class="form-group col-sm-4">
              <div>Vrsta vpisa: {{letnik.vrsta_vpisa.koda}} - {{letnik.vrsta_vpisa.naziv}}</div>
     </div>
      </div>
      <div class="row">
           <div class="form-group col-sm-4">
              <div>Način: {{letnik.nacin_studija.sifra}} - {{letnik.nacin_studija.naziv}}</div>
              </div>
               <div class="form-group col-sm-4">
              <div>Skupina: {{letnik.kraj_izvajanja}}</div>
              </div>
      </div>
     <div class="container table-responsive">
      <table id="tabela_kartotecni_listi" class="table table-hover" >
        <thead>
          <tr>
            <th>Šifra</th>
            <th>Predmet</th>
            <th>KT</th>
            <th>Predavatelj(i)</th>
            <th class="datum">Datum</th>
            <th class="ocena">Ocena</th>
            <th class="stPolaganj">Št. polaganj</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="predmet in  letnik.predmeti" >
            <td>{{ predmet.predmet.sifra }}</td>
            <td>{{ predmet.predmet.naziv }}</td>
            <td>{{ predmet.predmet.KT }}</td>
            <td colspan="4" style="padding:0;">
              <table class="clean" >
                <tr ng-repeat="izpit in predmet.izpiti" class="clean">
                  <td style="">
                    <ul>
                       <li ng-repeat="izvajalec in izpit.izvajalci">{{izvajalec.ime}} {{izvajalec.priimek}}</li>
                    </ul>
                  </td>
                  <td class="datum">{{ izpit.datum_izvajanja | date:'dd. MM. yyyy HH:mm' }}</td>
                  <td class="ocena" ng-show="izpit.polaganje.koncna_ocena > 0">{{ izpit.polaganje.tock }}/{{ izpit.polaganje.koncna_ocena }}</td>
                  <td class="ocena" ng-hide="izpit.polaganje.koncna_ocena > 0">-</td>
                  <td class="stPolaganj">{{ predmet.zaporedni_poskus_skupaj }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ predmet.zaporedni_poskus }}</td>
                 </tr>
               </table>
             </td>
          </tr>
        </tbody>
      </table>
    </div>
      
      
      
      
      
    </div>
    

    

    
    <button class="btn btn-danger pull-right" type="button" ng-click="vm.preklici()">Nazaj</button>
  </div>
</form>