<header></header>
<h2>Dobrodošli</h2>
<form role="form"  class="form-horizonral"  >
    <div class="col-sm-12">
         <div class="row">
            <span flex></span>
             <button class="btn btn-success" id="myProf" type="submit" ng-click="myData()">Moj profil</button>
           
             <button class="btn btn-success" id="logout" type="submit" ng-click="logoutFunc()">Odjava</button>
        </div>

         <div class="row" id="mainEl">
            Razpisani izpitni roki
         </div>
         
        <div class="row" id="mainEl">
            Moj predmetnik
         </div>
        <div class="row" id="mainEl">
            Prošnje
         </div>
         
         <div class="row" id="options">
            
                
            <button class="btn btn-success" type="submit" id="option">Nova prošnja</button>
             <button class="btn btn-success" type="submit" id="option">Naroči potrdilo o vpisu</button>
             <button class="btn btn-success" type="submit" id="option">Naroči izpis o opravljenih izpitih</button>
              <button class="btn btn-success" type="submit" id="option">Elektronski indeks</button>
           
           </div>
       
    </div>
</form>



<footer></footer>