<header></header>


<!-- Zacetna stran od studenta -->
<div ng-show="vm.student">
    <h3>Študent</h3>
    <div role="alert" class="alert alert-warning" ng-repeat="x in vm.zahtevki">Spremema izpitnega roka za {{x.predmet.sifra}}, {{x.predmet.naziv}} iz {{x.datum_izvajanja | date: 'dd. MM. yyyy hh:mm'}}, lokacija: {{x.lokacija}} na {{x.spremembe.datum_izvajanja | date: 'dd. MM. yyyy hh:mm'}}, lokacija: {{x.spremembe.lokacija}}<button class="btn btn-primary pull-right">Potrdi</button></div>
    <form role="form"  class="form-horizonral"  >
        <div class="col-sm-12">
             <div class="row">
                <span flex></span>
            </div>
    
             <div class="row" id="mainEl">
                Razpisani izpitni roki
                <a href="/izpiti" class="btn" type="button" id="option">prijavi se</a>
             </div>
             
            <div class="row" id="mainEl">
                Moj predmetnik
             </div>
            <div class="row" id="mainEl">
                Prošnje
             </div>
             
             <div class="row" id="options">
                
                    
                <button class="btn btn-success" type="submit" id="option">Nova prošnja</button>
                <button class="btn btn-success" type="submit" id="option">Naroči potrdilo o vpisu</button>
                <button class="btn btn-success" type="submit" id="option">Naroči izpis o opravljenih izpitih</button>
                <button class="btn btn-success" type="submit" id="option">Elektronski indeks</button>
                <button ng-show="vm.neizkoriscenZeton" class="btn btn-success" type="button" ng-click="vm.vpisniList()" id="option">Vpis</button>
               
               </div>
           
        </div>
    </form>
</div>


<!-- Zacetna stran od profesorja -->
<div ng-show="vm.predavatelj">
    <h3>Profesor</h3>
    <button class="btn" type="button" ng-click="vm.izpitniRoki()" id="option">Izpitni roki</button>
    <a href="/vsiIzpitniRoki" class="btn" type="button" id="option">Uredi izpitne roke</a>
    <button class="btn" type="button" ng-click="vm.seznamVpisanihVPredmet()" id="option">Seznam vpisanih v predmet</button>
    <a href="/prikaziStudente" class="btn" type="button" id="option">Študenti</a>
    <a href="/urediPredmete" class="btn" type="button" id="option">Vpisani v predmet</a>
</div>

<!-- Zacetna stran od referentke -->
<div ng-show="vm.referentka">
    <h3>Referentka</h3>
    <a href="/vsiIzpitniRoki" class="btn" type="button" id="option">Uredi izpitne roke</a>
    <!--<a href="/zetonZaVpis" class="btn" type="button" id="option">Uredi žetone za vpis</a> IMPLEMENTIRANO POD /prikaziStudente-->
    <a href="/potrdiVpise" class="btn" type="button" id="option">Potrditev vpisa</a>
    <a href="/prikaziStudente" class="btn" type="button" id="option">Študenti</a>
    <a href="/urediPredmete" class="btn" type="button" id="option">Vpisani v predmet</a>
    <a href="/generiraj-zetone" class="btn" type="button" id="option">Generiranje žetonov</a>
</div>

<!-- Zacetna stran od skrbnika -->
<div ng-show="vm.skrbnik">
    <h3>Skrbnik</h3>
    <a href="/import" class="btn" type="button" id="option">Uvoz kandidatov</a>
    <a href="/urediPredmete" class="btn" type="button" id="option">Uredi šifrante</a>
    <a href="/urediPredmetnike" class="btn" type="button" id="option">Uredi predmetnik</a>
    <a href="/" class="btn" type="button" id="option">Generiranje izpitnih rokov</a>
</div>



<footer></footer>