<header></header>


<!-- Zacetna stran od studenta -->
<div ng-show="vm.student" ng-init="vm.pridobiStudenta()">
    <h3>Študent</h3>
    <div role="alert" class="alert alert-warning" ng-repeat="x in vm.zahtevkiSprememba">Spremema izpitnega roka za {{x.predmet.sifra}}, {{x.predmet.naziv}} iz {{x.datum_izvajanja | date: 'dd. MM. yyyy hh:mm'}}, lokacija: {{x.lokacija}} na {{x.spremembe.datum_izvajanja | date: 'dd. MM. yyyy hh:mm'}}, lokacija: {{x.spremembe.lokacija}}<button class="btn btn-primary pull-right" ng-click="vm.potrdiSprememboIzpita(x._id)">Potrdi</button></div>
    <div role="alert" class="alert alert-warning" ng-repeat="x in vm.zahtevkiIzbris">Izbris izpitnega roka za {{x.predmet.sifra}}, {{x.predmet.naziv}}, ki bi moral potekati: {{x.datum_izvajanja | date: 'dd. MM. yyyy hh:mm'}}<button class="btn btn-primary pull-right" ng-click="vm.potrdiSprememboIzpita(x._id)">Potrdi</button></div>
    <form role="form"  class="form-horizonral"  >
        <div class="col-sm-12">
             <div class="row">
                <span flex></span>
            </div>
    
             <div class="row" id="mainEl">
                Razpisani izpitni roki
                <a href="/izpiti" class="btn btn-primary" type="button" id="option">Prijavi se</a>
             </div>
             
            <div class="row" id="mainEl">
                Moj predmetnik
            </div>
            <div class="row">
                <div class="container table-responsive col-sm-12">
                    <table id="tabela_predmetov" class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                               <th ng-click="orderByMe('sifra')">Šifra</th>
                                <th ng-click="orderByMe('naziv')">Naziv</th>
                                <th ng-click="orderByMe('KT')">St. kreditnih točk</th>
                                <th ng-click="orderByMe('ocena')">Ocena</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="predmet in vm.studentObject.studijska_leta_studenta[vm.studentObject.studijska_leta_studenta.length - 1].predmeti">
                                <td>{{ ($index + 1) }}</td>
                                <td>{{ predmet.predmet.sifra }}</td>
                                <td>{{ predmet.predmet.naziv }}</td>
                                <td>{{ predmet.predmet.KT }}</td>
                                <td>{{ predmet.ocena }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<button type="button" ng-csv="query" charset="utf-8"
                        csv-header="[ 'Šifra', 'Naziv', 'Kreditne točke']"
                        csv-column-order="[ 'sifra', 'naziv', 'KT' ]"
                        add-bom="true" field-separator=";" csv-label="false" filename="test1.csv">ExportCSV</button>
                    <button type="button" ng-click="vm.exportDataPDF()">PDF</button>-->
                </div>
            </div> 
             
            <div class="row" id="mainEl">
                Prošnje
             </div>
             
             <div class="row" id="options">
                
                    
                <button class="btn btn-primary" type="submit" id="option">Nova prošnja</button>
                <a href="/narocilaPotrdilVpisa"><button class="btn btn-primary" type="submit" id="option">Naroči potrdilo o vpisu</button></a>
                <button class="btn btn-primary" type="submit" id="option">Naroči izpis o opravljenih izpitih</button>
                <button class="btn btn-primary" type="submit" id="option">Elektronski indeks</button>
                <button ng-show="vm.neizkoriscenZeton" class="btn btn-primary" type="button" ng-click="vm.vpisniList()" id="option">Vpis</button>
               
               </div>
           
        </div>
    </form>
</div>


<!-- Zacetna stran od profesorja -->
<div ng-show="vm.predavatelj">
    <h3>Profesor</h3>
    <button class="btn btn-primary" type="button" ng-click="vm.izpitniRoki()" id="option">Izpitni roki</button>
    <a href="/vsiIzpitniRoki" class="btn btn-primary" type="button" id="option">Uredi izpitne roke</a>
    <button class="btn btn-primary" type="button" ng-click="vm.seznamVpisanihVPredmet()" id="option">Seznam vpisanih v predmet</button>
    <a href="/prikaziStudente" class="btn btn-primary" type="button" id="option">Študenti</a>
    <a href="/urediPredmete" class="btn btn-primary" type="button" id="option">Vpisani v predmet</a>
</div>

<!-- Zacetna stran od referentke -->
<div ng-show="vm.referentka">
    <h3>Referentka</h3>
    <a href="/vsiIzpitniRoki" class="btn btn-primary" type="button" id="option">Uredi izpitne roke</a>
    <!--<a href="/zetonZaVpis" class="btn" type="button" id="option">Uredi žetone za vpis</a> IMPLEMENTIRANO POD /prikaziStudente-->
    <a href="/potrdiVpise" class="btn btn-primary" type="button" id="option">Potrditev vpisa</a>
    <a href="/prikaziStudente" class="btn btn-primary" type="button" id="option">Študenti</a>
    <a href="/urediPredmete" class="btn btn-primary" type="button" id="option">Vpisani v predmet</a>
    <a href="/generiraj-zetone" class="btn btn-primary" type="button" id="option">Generiranje žetonov</a>
    <a href="/zetonZaVpis" class="btn btn-primary" type="button" id="option">Žeton za vpis</a>
    <button class="btn btn-primary" type="button" ng-click="vm.seznamVpisanihVPredmet()" id="option">Seznam vpisanih v predmet</button>
    <a href="/steviloVpisanihVPredmete" class="btn btn-primary" type="button" id="option">Vpisanih v predmete</a>
    <a href="/narocilaPotrdilVpisa" class="btn btn-primary" type="button" id="option">Naločila potrdil o vpisu</a>
</div>

<!-- Zacetna stran od skrbnika -->
<div ng-show="vm.skrbnik">
    <h3>Skrbnik</h3>
    <a href="/import" class="btn btn-primary" type="button" id="option">Uvoz kandidatov</a>
    <a href="/urediPredmete" class="btn btn-primary" type="button" id="option">Uredi šifrante</a>
    <a href="/urediPredmetnike" class="btn btn-primary" type="button" id="option">Uredi predmetnik</a>
    <a href="/" class="btn btn-primary" type="button" id="option">Generiranje izpitnih rokov</a>
</div>



<!--<footer></footer>-->