<header></header>
<div class="container">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <!--<a href="/dodajZaposlenega" class="btn"><div class="glyphicon glyphicon-plus-sign"></div></a>-->
    <a href="/poglejVpise" class="btn btn-primary dodaj" ng-show="vm.oddani">Poglej vse vpise</a>
    <a href="/potrdiVpise" class="btn btn-primary dodaj" ng-hide="vm.oddani">Poglej oddane vpise</a>
    <div class="container table-responsive">
        <table id="tabela_nepotrjeniVpisov" class="table table-hover" ng-init="vm.pridobiVseVpise()">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Priimek</th>
                    <th>Ime</th>
                    <th>Vpisna številka</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="nepotrjenVpis in vm.nepotrjeniVpisi | filter: iskanje | limitTo:vm.naStran:vm.stran*vm.naStran">
                    <td>{{ $index + 1 + vm.stran*vm.naStran }}</td>
                    <td>{{ nepotrjenVpis.student.priimek }}</td>
                    <td>{{ nepotrjenVpis.student.ime }}</td>
                    <td>{{ nepotrjenVpis.student.vpisna_stevilka }}</td>
                    <td>{{ nepotrjenVpis.student.email }}</td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.prikaziVpisniList(nepotrjenVpis._id)">Vpisni list</button></td>
                    <td><button class="btn btn-success" type="button" ng-click="vm.potrdiVpis(nepotrjenVpis._id)" ng-show="vm.oddani">Potrdi vpis</button></td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.stran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.stran +1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.stran == vm.strani.length -1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
        
    </div>
</div>
