<header></header>
<div class="container" style="margin-bottom: 4em;" ng-cloak>
  <div id="wrapper">
 
    <form ng-submit="vm.sendData()" id="forgot" class="form-horizontal"  >
      
      <div class="form-group">
        <label class="control-label col-sm-4" for="email">Elektronska posta</label>
        <div class="col-sm-8">
          <input type="email" size="35" class="form-control" id="email" placeholder="Vnesite elektronski poštni naslov" ng-model="vm.formData.email">
        </div>
      </div>

       
    </form>
  </div>
</div>

<footer></footer>