<header></header>
<div class="container">
    <div class="alert alert-danger" role="alert" ng-show="vm.obvestilo">{{vm.obvestilo}}</div>
    <div class="alert alert-success" role="alert" ng-show="vm.uspeh">{{vm.uspeh}}</div>
    <h2>Prijavljeni kandidati</h2>
    <br>
    <table class="col-md-4">
        <thead>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <td>
                <div class="row">
                    <div id="custom-search-input">
                        <div class="input-group col-md-10">
                            <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td><button class="btn btn-success" type="button" ng-click="vm.shraniVse()">Shrani stran</button></td>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <div id = "exportable" class="container table-responsive">
        <table id="tabela_kandidatov" class="table table-hover" ng-init="vm.prikaziKandidate()">
            <thead>
               <tr>
                    <th>#</th>
                    <th ng-click="orderByMe('kandidat.student.vpisna_stevilka')">Vpisna številka</th>
                    <th ng-click="orderByMe('kandidat.student.priimek')">Priimek</th>
                    <th ng-click="orderByMe('kandidat.student.ime')">Ime</th>
                    <th ng-click="orderByMe('kandidat.student.ime')">Studijsko leto</th>
                    <th ng-click="orderByMe('kandidat.student.ime')">Polaganj</th>
                    <th ng-click="orderByMe('kandidat.tock')" class="col-xs-2">Točke (0 - 100)</th>
                    <th ng-click="orderByMe('kandidat.ocena')">Ocena izpita</th>
                    <th ng-click="orderByMe('kandidat.koncna_ocena')">Končna ocena</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="kandidat in query = (vm.kandidati | filter: iskanje) | orderBy:myOrderBy:bool | limitTo:vm.naStran:vm.stran*vm.naStran">
                    <td>{{ ($index + 1) + (vm.stran * vm.naStran) }}</td>
                    <td>{{ kandidat.student.vpisna_stevilka }}</td>
                    <td>{{ kandidat.student.priimek }}</td>
                    <td>{{ kandidat.student.ime }}</td>
                    <td>{{ vm.izpitniRok.studijsko_leto.studijsko_leto }}</td>
                    <td>{{ kandidat.zaporedni_poskus_skupaj }}</td>
                    
                    <td ng-show="kandidat.odjavljen == false">
                        <input class="form-control col-xs-2" type="text" value="{{kandidat.tock}}" ng-model="kandidat.tock">
                    </td>
                    <td ng-show="kandidat.odjavljen == true">VP</td>
                    
                    <td ng-show="kandidat.odjavljen == false">
                        <select class="form-control" value="{{kandidat.ocena}}" ng-model="kandidat.ocena" ng-options="oc for oc in vm.opcijeOcen"></select>
                    </td>
                    <td ng-show="kandidat.odjavljen == true">VP</td>
                    
                    <td ng-show="kandidat.odjavljen == false">
                        <select class="form-control" value="{{kandidat.koncna_ocena}}" ng-model="kandidat.koncna_ocena" ng-options="oc for oc in vm.opcijeOcen"></select>
                    </td>
                    <td ng-show="kandidat.odjavljen == true">VP</td>
                    
                    <td><button class="btn btn-primary" type="button" ng-click="vm.shraniStudenta(kandidat)" ng-show="kandidat.odjavljen == false">Shrani</button></td>
                    <!--<td><button class="btn btn-primary" type="button" ng-click="vm.uredi(kandidat.student._id)" ng-show="kandidat.odjavljen == false">Uredi</button></td>-->
                    <td><button class="btn btn-danger" type="button" ng-click="vm.odjavi(kandidat.student._id)" ng-show="kandidat.odjavljen == false && kandidat.koncna_ocena > 5 == false">Vrni prijavo</button></td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.stran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.stran +1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.stran == vm.strani.length -1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
    </div>
</div>
