<header></header>
<div class="container">
    <h2>Prijavljeni kandidati</h2><br>
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div id = "exportable" class="container table-responsive">
        <table ng-show="!iskanje" id="tabela_kandidatov" class="table table-hover" ng-init="vm.prikaziKandidate()">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-click="orderByMe('kandidat.student.vpisna_stevilka')">Vpisna številka</th>
                    <th ng-click="orderByMe('kandidat.student.priimek')">Priimek</th>
                    <th ng-click="orderByMe('kandidat.student.ime')">Ime</th>
                    <th ng-click="orderByMe('kandidat.tock')">Točke</th>
                    <th ng-click="orderByMe('kandidat.ocena')">Ocena izpita</th>
                    <th ng-click="orderByMe('kandidat.koncna_ocena')">Končna ocena</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="kandidat in vm.kandidati[vm.trenutnaStran] | orderBy:myOrderBy:bool">
                    <td>{{ ($index + 1) + (vm.trenutnaStran * vm.stKandidatovNaStran) }}</td>
                    <td>{{ kandidat.student.vpisna_stevilka }}</td>
                    <td>{{ kandidat.student.priimek }}</td>
                    <td>{{ kandidat.student.ime }}</td>
                    
                    <td ng-show="(kandidat.tock > -1) && kandidat.odjavljen == false">{{ kandidat.tock }}</td>
                    <td ng-show="(!(kandidat.tock > -1)) && kandidat.odjavljen == false">/</td>
                    <td ng-show="kandidat.odjavljen == true">VP</td>
                    
                    <td ng-show="(kandidat.tock > -1) && kandidat.odjavljen == false">{{ kandidat.ocena }}</td>
                    <td ng-show="(!(kandidat.tock > -1)) && kandidat.odjavljen == false">/</td>
                    <td ng-show="kandidat.odjavljen == true">VP</td>
                    
                    <td ng-show="(kandidat.tock > -1) && kandidat.odjavljen == false">{{ kandidat.koncna_ocena }}</td>
                    <td ng-show="(!(kandidat.tock > -1)) && kandidat.odjavljen == false">/</td>
                    <td ng-show="kandidat.odjavljen == true">VP</td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(kandidat.student._id)" ng-show="kandidat.odjavljen == false">Uredi</button></td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <button ng-click="exportDataCSV()">Export CSV</button>
                    <button ng-click="exportDataPDF()">Export PDF</button>
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.trenutnaStran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.trenutnaStran+1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.trenutnaStran == vm.kandidati.length - 1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
        <table ng-show="iskanje" id="tabela_kandidatov" class="table table-hover" ng-init="vm.prikaziKandidate()">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-click="orderByMe('kandidat.student.vpisna_stevilka')">Vpisna številka</th>
                    <th ng-click="orderByMe('kandidat.student.priimek')">Priimek</th>
                    <th ng-click="orderByMe('kandidat.student.ime')">Ime</th>
                    <th ng-click="orderByMe('kandidat.tock')">Točke</th>
                    <th ng-click="orderByMe('kandidat.ocena')">Ocena izpita</th>
                    <th ng-click="orderByMe('kandidat.koncna_ocena')">Končna ocena</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="kandidat in vm.kandidati[vm.trenutnaStran] | filter: iskanje | orderBy:myOrderBy:bool | orderBy:myOrderBy:bool">
                    <td>{{ ($index + 1) + (vm.trenutnaStran * vm.stKandidatovNaStran) }}</td>
                    <td>{{ kandidat.student.vpisna_stevilka }}</td>
                    <td>{{ kandidat.student.priimek }}</td>
                    <td>{{ kandidat.student.ime }}</td>
                    
                    <td ng-show="(kandidat.tock > -1) && kandidat.odjavljen == false">{{ kandidat.tock }}</td>
                    <td ng-show="(!(kandidat.tock > -1)) && kandidat.odjavljen == false">/</td>
                    <td ng-show="kandidat.odjavljen == true">VP</td>
                    
                    <td ng-show="(kandidat.tock > -1) && kandidat.odjavljen == false">{{ kandidat.ocena }}</td>
                    <td ng-show="(!(kandidat.tock > -1)) && kandidat.odjavljen == false">/</td>
                    <td ng-show="kandidat.odjavljen == true">VP</td>
                    
                    <td ng-show="(kandidat.tock > -1) && kandidat.odjavljen == false">{{ kandidat.koncna_ocena }}</td>
                    <td ng-show="(!(kandidat.tock > -1)) && kandidat.odjavljen == false">/</td>
                    <td ng-show="kandidat.odjavljen == true">VP</td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(kandidat.student._id)" ng-show="kandidat.odjavljen == false">Uredi</button></td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.trenutnaStran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.trenutnaStran+1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.trenutnaStran == vm.kandidati.length - 1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
    </div>
</div>
