<header style="margin-bottom: 15px"></header>
<navigacijareferentka ng-show="vm.vpisan.referentka == true"></navigacijareferentka>
<navigacijaprofesor ng-show="vm.vpisan.zaposlen.predavatelj == true"></navigacijaprofesor>
<div class="container">
    <h2>Seznam študentov</h2><br>
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    
    <div id = "exportable" class="container table-responsive" >
        <table id="tabela_drzav"  class="table table-hover" ng-init="vm.prikaziStudente()" >
            <thead>
                <tr>
                    <th>#</th>
                   <th ng-click="orderByMe('vpisna_stevilka')">Vpisna številka</th>
                    <th ng-click="orderByMe('priimek')">Priimek</th>
                    <th ng-click="orderByMe('ime')">Ime</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in query = (vm.studenti | filter: iskanje | localeOrderBy:myOrderBy:bool)  | limitTo:vm.naStran:vm.stran*vm.naStran" >
                    <td>{{ ($index + 1) + (vm.stran * vm.naStran) }}</td>
                    <td>{{ student.vpisna_stevilka }}</td>
                    <td>{{ student.priimek }}</td>
                    <td>{{ student.ime }}</td>
                    
                   <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(student._id)">Podrobnosti</button></td>
                   
                </tr>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.stran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.stran +1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.stran == vm.strani.length -1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
        <button class="btn btn-info" type="button" ng-csv="query" charset="utf-8"
            csv-header="[ 'Vpisna Števila', 'Priimek', 'Ime']"
            csv-column-order="[ 'vpisna_stevilka', 'priimek', 'ime']"
            add-bom="true" field-separator=";" csv-label="false" filename="test1.csv">ExportCSV</button>
        <button class="btn btn-info" type="button" ng-click="vm.exportDataPDF()">PDF</button>
        
    </div>
    
    
</div>
