<header style="margin-bottom: 15px"></header>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
             <select class="form-control" ng-change="vm.prikazi()" ng-model="vm.studijskoLeto" ng-options='sl as (sl.studijsko_leto) for sl in vm.studijskaLeta track by sl._id'></select>
        </div>
        <!--<button class="btn btn-primary" ng-click="vm.prikazi()">Prikaži</button>-->
    </div>
    <div class="row" style="margin-left: 0px; margin-top:20px">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <a href="/dodajIzpitniRok" class="btn btn-primary"><div class="glyphicon glyphicon-plus-sign"></div> Dodaj</a>
    <div class="container table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Predmet</th>
                    <th>Datum in ura</th>
                    <th>Lokacija</th>
                    <th>Izvajalci</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rok in query = (vm.izpitniRoki | filter:iskanje) | limitTo:vm.naStran:vm.stran*vm.naStran" ng-class="{'alert alert-danger': rok.sprememba==2, 'alert alert-warning': rok.sprememba==1}">
                    <td>{{ ($index + 1) + (vm.stran * vm.naStran) }}</td>
                    <td>{{ rok.predmet.sifra }}, {{ rok.predmet.naziv }}</td>
                    <td>{{ rok.datum_izvajanja | date:'dd. MM. yyyy HH:mm' }}</td>
                    <td>{{ rok.lokacija }}</td>
                    <td>
                        <ul>
                            <li ng-repeat="izvajalci in rok.izvajalci">{{ izvajalci.priimek }} {{ izvajalci.ime }}</li>
                        </ul>
                    </td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.kandidati(rok._id)">Prijavljeni kandidati</button></td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(rok._id)">Uredi</button></td>
                    <!--<td><button class="btn btn-primary" type="button" ng-click="vm.pocistiSpremembe(rok._id)">Počisti spremembe</button></td>-->
                    <td><button class="btn btn-danger" type="button" ng-click="vm.izbrisi(rok._id)">Izbriši</button></td>
                </tr> 
            </tbody>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.stran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.stran +1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.stran == vm.strani.length -1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
        
        <button type="button" ng-csv="query" charset="utf-8"
            csv-header="[ 'Šifra', 'Naziv', 'Datum izvajanja', 'lokacija' ]"
            csv-column-order="[ 'predmet.sifra', 'predmet.naziv', 'datum_izvajanja', 'lokacija' ]"
            add-bom="true" field-separator=";" csv-label="false" filename="test1.csv">ExportCSV</button>
        <button type="button" ng-click="vm.exportDataPDF()">PDF</button>
    </div>
</div>