<header style="margin-bottom: 15px"></header>
<div class="container">
    <h2>Sklepi</h2>
    <h3>{{ vm.student.ime }} {{ vm.student.priimek }}, {{ vm.student.vpisna_stevilka }}</h3><br>
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <a href="/sklepi/{{ vm.studentId }}/dodaj" class="btn btn-primary dodaj" style="margin-bottom: 15px" ng-show="vm.vpisan.referentka == true"><div class="glyphicon glyphicon-plus-sign">Dodaj</div></a>
    <div class="container table-responsive">
        <table id="tabela_delovPredmetnika" class="table table-hover" ng-init="vm.prikaziDelePredmetnika()">
            <thead>
                <tr>
                    <th>#</th>
                    <th style="width: 100px" ng-click="orderByMe('datum')">Datum</th>
                    <th style="width: 150px" ng-click="orderByMe('organ')">Organ</th>
                    <th ng-click="orderByMe('besedilo')">Besedilo</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="delPredmetnika in query = (vm.deliPredmetnika | filter: iskanje) | localeOrderBy:myOrderBy:bool | limitTo:vm.naStran:vm.stran*vm.naStran">
                    <td>{{ ($index + 1) + (vm.stran * vm.naStran) }}</td>
                    <td>{{ delPredmetnika.datum | date:'dd. MM. yyyy' }}</td>
                    <td>{{ delPredmetnika.organ }}</td>
                    <td>{{ delPredmetnika.besedilo }}</td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(delPredmetnika._id)" ng-show="vm.vpisan.referentka == true">Uredi</button></td>
                    <td><button class="btn btn-danger" type="button" ng-click="vm.izbris(delPredmetnika._id)" ng-show="vm.vpisan.referentka == true">Izbriši</button></td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.stran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.stran +1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.stran == vm.strani.length -1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
    </div>
    <a href="/prikaziStudente" ng-show="vm.vpisan.referentka == true"><button class="btn btn-primary" type="button">Nazaj na seznam študentov</button></a>
</div>
