<header></header>
<h2>Vstavitev</h2>
<form role="form"  class="form-horizonral"  >
    <div class="col-sm-12">
         <div class="row">
         		<div>
        			Select a text file: 
        			<input type="file" id="fileInput" >
        		</div>
        		<button class="btn btn-success" type="submit" id="option" ng-click="vm.nek()">Work</button>
        </div>
        
        <div class="row" ng-show="vm.uvoz">
            {{vm.uvoz}}
            <div>
                <h3>Sprejeti študenti</h3>
                <table>
                    <tr>
                        <td>Vpisna številka</td>
                        <td>Priimek, Ime</td>
                    </tr>
                    <tr ng-repeat="student in vm.uvoz.studenti">
                        <td>{{ student.vpisna_stevilka }}</td>
                        <td>{{ student.priimek }}, {{student..ime}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>



<footer></footer>