<header style="margin-bottom: 15px"></header>
<div ng-init="vm.pridobiPredmet()"></div>
<div role="allert" class="alert alert-danger" ng-show="vm.obvestilo">{{vm.obvestilo}}</div>
<form role ="form" ng-submit="vm.shrani()" class="form-horizonral">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Študijsko leto:</label>
                <select class="form-control" ng-model="vm.izvedba.studijsko_leto" ng-options='vs as vs.studijsko_leto for vs in vm.studijskaLeta track by vs._id' ng-disabled="isDisabled"></select>
            </div>
        </div>
        
        <!--IZVAJALCI-->
        <div class="container">
          <h2>Izvajalci predmeta</h2><br>
          <div class="row">
              <div id="custom-search-input-izvajalci">
                  <div class="input-group col-md-4">
                      <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanjeIzvajalcev"/>
                      <span class="input-group-btn">
                          <button class="btn btn-primary" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
          <div class="container table-responsive">
              <table ng-show="!iskanjeIzvajalcev" id="tabela_zaposlenih" class="table table-hover">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Priimek</th>
                          <th>Ime</th>
                          <th>Naziv</th>
                          <th>Email</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <td colspan="6">
                          <div class="pull-right">
                              <ul class="pagination">
                                  <li ng-class="{disabled: vm.trenutnaStran == 0}">
                                      <a href ng-click="vm.prevPageIzvajalci()"><< Prejšnja</a>
                                  </li>
                                  <li ng-repeat="n in vm.straniIzvajalcev" ng-class="{active: vm.trenutnaStranIzvajalci+1 == n}">
                                      <a href ng-click="vm.setPageIzvajalci(n)">{{ n }}</a>
                                  </li>
                                  <li ng-class="{disabled: vm.trenutnaStranIzvajalci == vm.izvajalci.length - 1}">
                                      <a href ng-click="vm.nextPageIzvajalci()">Naslednja >></a>
                                  </li>
                              </ul>
                          </div>
                      </td>
                  </tfoot>
                  <tbody>
                      <tr ng-repeat="izvajalec in vm.izvajalci[vm.trenutnaStranIzvajalci]" ng-class="(izvajalec.valid ? '' : 'alert alert-danger')">
                          <td>{{ ($index + 1) + (vm.trenutnaStran * vm.stIzvajalcevNaStran) }}</td>
                          <td>{{ izvajalec.priimek }}</td>
                          <td>{{ izvajalec.ime }}</td>
                          <td>{{ izvajalec.naziv }}</td>
                          <td>{{ izvajalec.email }}</td>
                          <!--<td><button class="btn btn-primary" type="button" ng-click="vm.uredi(zaposlen._id)">Uredi</button></td>-->
                          <td><button class="btn btn-danger" type="button" ng-click="vm.odstraniIzvajalca(izvajalec._id)">Odstrani izvajalca</button></td>
                          <!--<td>
                              <button ng-show="{{zaposlen.valid}}" class="btn btn-primary" type="button" ng-click="vm.izbris(zaposlen._id)">Izbriši</button>
                              <button ng-show="{{!zaposlen.valid}}" class="btn btn-primary" type="button" ng-click="vm.obnovi(zaposlen._id)">Obnovi</button>
                          </td>-->
                      </tr>
                  </tbody>
              </table>
              <table ng-show="iskanjeIzvajalcev" id="tabela_zaposlenih" class="table table-hover" ng-init="vm.prikaziZaposlene()">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Priimek</th>
                          <th>Ime</th>
                          <th>Naziv</th>
                          <th>Email</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="izvajalec in vm.izvajalci[vm.trenutnaStranIzvajalci] | filter: iskanjeIzvajalcev" ng-class="(izvajalec.valid ? '' : 'alert alert-danger')">
                          <td>{{ ($index + 1) + (vm.trenutnaStran * vm.stIzvajalcevNaStran) }}</td>
                          <td>{{ izvajalec.priimek }}</td>
                          <td>{{ izvajalec.ime }}</td>
                          <td>{{ izvajalec.naziv }}</td>
                          <td>{{ izvajalec.email }}</td>
                          <!--<td><button class="btn btn-primary" type="button" ng-click="vm.uredi(zaposlen._id)">Uredi</button></td>-->
                          <td><button class="btn btn-danger" type="button" ng-click="vm.odstraniIzvajalca(izvajalec._id)">Odstrani izvajalca</button></td>
                          <!--<td>
                              <button ng-show="{{zaposlen.valid}}" class="btn btn-primary" type="button" ng-click="vm.izbris(zaposlen._id)">Izbriši</button>
                              <button ng-show="{{!zaposlen.valid}}" class="btn btn-primary" type="button" ng-click="vm.obnovi(zaposlen._id)">Obnovi</button>
                          </td>-->
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
        
        <!-- VSI ZAPOSLENI -->
        <div class="container">
          <h2>Vsi zaposleni</h2><br>
          <div class="row">
              <div id="custom-search-input">
                  <div class="input-group col-md-4">
                      <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                      <span class="input-group-btn">
                          <button class="btn btn-primary" type="button">
                              <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
          <a href="/dodajZaposlenega" class="btn"><div class="glyphicon glyphicon-plus-sign"></div></a>
          <div class="container table-responsive">
              <table ng-show="!iskanje" id="tabela_zaposlenih" class="table table-hover" ng-init="vm.prikaziZaposlene()">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Priimek</th>
                          <th>Ime</th>
                          <th>Naziv</th>
                          <th>Email</th>
                      </tr>
                  </thead>
                  <tfoot>
                      <td colspan="6">
                          <div class="pull-right">
                              <ul class="pagination">
                                  <li ng-class="{disabled: vm.trenutnaStran == 0}">
                                      <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                                  </li>
                                  <li ng-repeat="n in vm.strani" ng-class="{active: vm.trenutnaStran+1 == n}">
                                      <a href ng-click="vm.setPage(n)">{{ n }}</a>
                                  </li>
                                  <li ng-class="{disabled: vm.trenutnaStran == vm.zaposleni.length - 1}">
                                      <a href ng-click="vm.nextPage()">Naslednja >></a>
                                  </li>
                              </ul>
                          </div>
                      </td>
                  </tfoot>
                  <tbody>
                      <tr ng-repeat="zaposlen in vm.zaposleni[vm.trenutnaStran]" ng-class="(!vm.jeIzvajalec(zaposlen.zaposlen._id) ? '' : 'alert alert-success')">
                          <td>{{ ($index + 1) + (vm.trenutnaStran * vm.stZaposlenihNaStran) }}</td>
                          <td>{{ zaposlen.zaposlen.priimek }}</td>
                          <td>{{ zaposlen.zaposlen.ime }}</td>
                          <td>{{ zaposlen.zaposlen.naziv }}</td>
                          <td>{{ zaposlen.zaposlen.email }}</td>
                          <!--<td><button class="btn btn-primary" type="button" ng-click="vm.uredi(zaposlen.zaposlen._id)">Uredi</button></td>-->
                          <td>
                              <button ng-show="{{vm.jeIzvajalec(zaposlen.zaposlen._id)}}" class="btn btn-danger" type="button" ng-click="vm.odstraniIzvajalca(zaposlen.zaposlen._id)">Odstrani izvajalca</button>
                              <button ng-show="{{!vm.jeIzvajalec(zaposlen.zaposlen._id)}}" class="btn btn-primary" type="button" ng-click="vm.dodajIzvajalca(zaposlen.zaposlen._id)">Dodaj izvajalca</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <table ng-show="iskanje" id="tabela_zaposlenih" class="table table-hover" ng-init="vm.prikaziZaposlene()">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Priimek</th>
                          <th>Ime</th>
                          <th>Naziv</th>
                          <th>Email</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="zaposlen in vm.vsiZaposleni | filter: iskanje" ng-class="(!vm.jeIzvajalec(zaposlen.zaposlen._id) ? '' : 'alert alert-success')">
                          <td>{{ ($index + 1) + (vm.trenutnaStran * vm.stZaposlenihNaStran) }}</td>
                          <td>{{ zaposlen.zaposlen.priimek }}</td>
                          <td>{{ zaposlen.zaposlen.ime }}</td>
                          <td>{{ zaposlen.zaposlen.naziv }}</td>
                          <td>{{ zaposlen.zaposlen.email }}</td>
                          <!--<td><button class="btn btn-primary" type="button" ng-click="vm.uredi(zaposlen.zaposlen._id)">Uredi</button></td>-->
                          <td>
                              <button ng-show="{{vm.jeIzvajalec(zaposlen.zaposlen._id)}}" class="btn btn-danger" type="button" ng-click="vm.odstraniIzvajalca(zaposlen.zaposlen._id)">Odstrani izvajalca</button>
                              <button ng-show="{{!vm.jeIzvajalec(zaposlen.zaposlen._id)}}" class="btn btn-primary" type="button" ng-click="vm.dodajIzvajalca(zaposlen.zaposlen._id)">Dodaj izvajalca</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
        
      <button class="btn btn-success"  type="submit">Nazaj na izvedbe</button>
        <!--<button class="btn btn-danger pull-right" type="button" ng-click="vm.preklici()">Prekliči</button>-->
    </div>
</form>