<header style="margin-bottom: 15px"></header>
<navigation></navigation>
<div class="container">
    <h2>Letniki</h2>
   <div class="row">
    <div id="custom-search-input">
        <div class="input-group col-md-4">
            <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <a href="/dodajLetnik" class="btn btn-primary dodaj"><div class="glyphicon glyphicon-plus-sign"></div>Dodaj</a>
    <div class="container table-responsive">
        <table id="tabela_letnikov" class="table table-hover" ng-init="vm.prikaziLetnike()">
            <thead>
                <tr>
                    <th>#</th>
                     <th ng-click="orderByMe('naziv')">Naziv</th>
                    <th ng-click="orderByMe('studijskiProgram.naziv')">Študijski program</th>
                    <th ng-click="orderByMe('studijskiProgram.vrstaStudija.opis')">Vrsta študija</th>
                    <th  ng-click="orderByMe('pogoj_letnik.naziv')">Pogoj</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="letnik in query = (vm.letniki | filter: iskanje) | localeOrderBy:myOrderBy:bool | limitTo:vm.naStran:vm.stran*vm.naStran" ng-class="(letnik.valid ? '' : 'alert alert-danger')">
                    <td>{{ ($index + 1) + (vm.stran * vm.naStran) }}</td>
                    <td>{{ letnik.naziv }}</td>
                    <td>{{ letnik.studijskiProgram.naziv }}</td>
                    <td>{{ letnik.studijskiProgram.vrstaStudija.opis }}</td>
                    <td>{{ letnik.pogoj_letnik.naziv }}</td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(letnik._id)">Uredi</button></td>
                    <td>
                        <button ng-show="{{letnik.valid}}" class="btn btn-primary" type="button" ng-click="vm.izbris(letnik._id)">Izbriši</button>
                        <button ng-show="{{!letnik.valid}}" class="btn btn-primary" type="button" ng-click="vm.obnovi(letnik._id)">Obnovi</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.stran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.stran +1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.stran == vm.strani.length -1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
        <button ng-json-export-excel data="query"
        report-fields="{naziv: 'Naziv', 'studijskiProgram.naziv': 'Študijski program', 'studijskiProgram.vrstaStudija.opis': 'Vrsta študija', 'pogoj_letnik.naziv': 'Pogoj'}"
        filename="'filename'" class="btn btn-info">ExportCSV</button>
         <button class="btn btn-info" type="button" ng-click="vm.exportDataPDF()">PDF</button>
    </div> 
</div>
<footer></footer>