<header style="margin-bottom: 15px"></header>
<div ng-init="vm.pridobi()"></div>
<div role="allert" class="alert alert-danger" ng-show="vm.obvestilo">{{vm.obvestilo}}</div>
<form role ="form" ng-submit="vm.shrani()" class="form-horizonral">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Študijski program:</label>
                <select class="form-control" ng-model="vm.podatki.studijski_program" ng-options='sp as (sp.naziv + ", " + sp.vrstaStudija.opis) for sp in vm.studijskiProgrami track by sp._id'></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Študijsko leto:</label>
                <select class="form-control" ng-model="vm.podatki.studijsko_leto" ng-options='sl as (sl.studijsko_leto) for sl in vm.studijskaLeta track by sl._id'></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Letnik:</label>
                <select class="form-control" ng-model="vm.podatki.letnik" ng-options='le as (le.studijskiProgram.vrstaStudija.opis + ", " + le.naziv) for le in vm.letniki track by le._id'></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Del Predmetnika:</label>
                <select class="form-control" ng-model="vm.podatki.del_predmetnika" ng-options='dp as (dp.naziv) for dp in vm.deliPredmetnika track by dp._id'></select>
            </div>
        </div>
        <button class="btn btn-success"  type="submit">Shrani</button>
        <button class="btn btn-danger pull-right" type="button" ng-click="vm.preklici()">Prekliči</button>
    </div>
</form>