<header style="margin-bottom: 15px"></header>
<!--navigation></navigation>-->
<div class="container">
    <h2>Žetoni študenta</h2>
    <h3>{{ vm.student.ime }} {{ vm.student.priimek }}, {{ vm.student.vpisna_stevilka }}</h3><br>
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <a href="/prikaziStudente/{{vm.studentId}}/zetoni/ustvariZeton" class="btn btn-primary dodaj"><div class="glyphicon glyphicon-plus-sign"></div>Dodaj</a>
    <div class="container table-responsive">
        <table id="tabela_zaposlenih" class="table table-hover" ng-init="vm.prikaziZetone()">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-click="orderByMe('zeton.studijski_program.naziv')">Študijski program</th>
                    <th ng-click="orderByMe('zeton.letnik.naziv')">Letnik</th>
                    <th ng-click="orderByMe('zeton.vrsta_vpisa.naziv')">Vrsta vpisa</th>
                    <th ng-click="orderByMe('zeton.nacin_studija.naziv')">Način študija</th>
                    <th ng-click="orderByMe('zeton.oblika_studija.naziv')">Oblika študija</th>
                    <th ng-click="orderByMe('zeton.prosta_izbira')">Prosta izbira predmetov</th>
                    <th ng-click="orderByMe('zeton.studijsko_leto')">Študijsko leto</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="zeton in query = (vm.zetoni | filter: iskanje) | orderBy:myOrderBy:bool | limitTo:vm.naStran:vm.stran*vm.naStran" ng-class="(zeton.izkoriscen == false ? '' : 'alert alert-danger')">
                    <td>{{ ($index + 1) + (vm.stran * vm.naStran) }}</td>
                    <td>{{ zeton.studijski_program.naziv }}, {{ zeton.studijski_program.sifra }}</td>
                    <td>{{ zeton.letnik.naziv }}</td>
                    <td>{{ zeton.vrsta_vpisa.naziv }}</td>
                    <td>{{ zeton.nacin_studija.naziv }}</td>
                    <td>{{ zeton.oblika_studija.naziv }}</td>
                    <td ng-show="zeton.prosta_izbira == true">Da</td>
                    <td ng-show="zeton.prosta_izbira == false">Ne</td>
                    <td>{{ zeton.studijsko_leto.studijsko_leto }}</td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(zeton._id)">Uredi</button></td>
                    <td><button ng-show="{{zeton.izkoriscen == false}}" class="btn btn-danger" type="button" ng-click="vm.izbris(zeton._id)">Izbriši</button></td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.stran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.stran +1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.stran == vm.strani.length -1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
    </div>
    <button class="btn btn-primary"  type="button" ng-click="vm.nazaj()">Nazaj na seznam studentov</button>
</div>
