<div class="row">
    <div id="custom-search-input">
        <div class="input-group col-md-4">
            <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="container table-responsive">
    <table id="tabela_predmetov" class="table table-hover" ng-init="vm.prikazi()">
        <thead>
            <tr>
                <th>Šifra</th>
                <th>Naziv</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in vm.oblikeStudija | filter: iskanje" ng-class="(x.valid ? '' : 'alert alert-danger')">
                <td>{{ x.sifra }}</td>
                <td>{{ x.naziv }}</td>
                <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(x._id)">Uredi</button></td>
                <td>
                    <button ng-show="{{x.valid}}" class="btn btn-primary" type="button" ng-click="vm.izbris(x._id)">Izbriši</button>
                    <button ng-show="{{!x.valid}}" class="btn btn-primary" type="button" ng-click="vm.obnovi(x._id)">Obnovi</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>