<header style="margin-bottom: 15px"></header>
<navigation></navigation>
<div class="container">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <a href="/dodajDrzavo" class="btn btn-primary dodaj"><div class="glyphicon glyphicon-plus-sign"></div> Dodaj</a>
    <div class="container table-responsive">
        <table id="tabela_drzav" class="table table-hover" ng-init="vm.prikaziDrzave()">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-click="orderByMe('numericna_oznaka')">Numerična oznaka</th>
                    <th ng-click="orderByMe('slovenski_naziv')">Naziv</th>
                    <th ng-click="orderByMe('ISO_naziv')">ISO naziv</th>
                    <th ng-click="orderByMe('dvomestna_koda')">Dvomestna koda</th>
                    <th ng-click="orderByMe('trimestna_koda')">Trimestna koda</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="drzava in query = (vm.drzave | filter: iskanje | orderBy:myOrderBy:bool)  | limitTo:vm.naStran:vm.stran*vm.naStran" ng-class="(drzava.valid ? '' : 'alert alert-danger')">
                    <td>{{ ($index + 1) + (vm.naStran * vm.stran) }}</td>
                    <td>{{ drzava.numericna_oznaka }}</td>
                    <td>{{ drzava.slovenski_naziv }}</td>
                    <td>{{ drzava.ISO_naziv }}</td>
                    <td>{{ drzava.dvomestna_koda }}</td>
                    <td>{{ drzava.trimestna_koda }}</td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(drzava._id)">Uredi</button></td>
                    <td>
                        <button ng-show="{{drzava.valid}}" class="btn btn-primary" type="button" ng-click="vm.izbris(drzava._id)">Izbriši</button>
                        <button ng-show="{{!drzava.valid}}" class="btn btn-primary" type="button" ng-click="vm.obnovi(drzava._id)">Obnovi</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.stran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.stran +1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.stran == vm.strani.length -1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
        <button type="button" ng-csv="query" charset="utf-8"
            csv-header="[ 'Numerična oznaka', 'Slovenski naziv', 'ISO naziv', 'Dvomestna koda', 'Trimestna koda']"
            csv-column-order="[ 'numericna_oznaka', 'slovenski_naziv', 'ISO_naziv', 'dvomestna_koda','trimestna_koda']"
            add-bom="true" field-separator=";" csv-label="false" filename="test1.csv">ExportCSV</button>
        <button type="button" ng-click="vm.exportDataPDF()">PDF</button>
    </div>
    
    
</div>
