<div ng-init="vm.pridobiLetnik()"></div>
<div role="allert" class="alert alert-danger" ng-show="vm.obvestilo">{{vm.obvestilo}}</div>
<form role ="form" ng-submit="vm.shrani()" class="form-horizonral">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Naziv:</label>
                <input class="form-control" type="text" ng-model="vm.letnik.naziv">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Študijski program:</label> <!--{{ vm.letnik.studijskiProgram }} ; -->
                <select class="form-control" ng-model="vm.letnik.studijskiProgram" ng-options='sp as (sp.naziv + ", " + sp.vrstaStudija.opis) for sp in vm.studijskiProgrami track by sp._id'></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Pogoj</label>
                <select class="form-control" ng-model="vm.letnik.pogoj_letnik" ng-options='po as (po.naziv + ", " + po.studijskiProgram.sifra) for po in vm.pogoji track by po._id'></select>
            </div>
        </div>
        <button class="btn btn-success"  type="submit">Shrani</button>
        <button class="btn btn-danger" type="button" ng-click="vm.preklici()">Prekliči</button>
    </div>
</form>