<header style="margin-bottom: 15px"></header>
<navigation ng-show="vm.vpisan.skrbnik == true"></navigation>
<navigacijareferentka ng-show="vm.vpisan.referentka == true"></navigacijareferentka>
<div class="container">
    <h2>Izvedbe predmeta</h2>
    <h3>{{ vm.predmet.sifra }}, {{ vm.predmet.naziv }}</h3><br>
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <a href="/dodajIzvedboPredmeta/{{vm.predmetId}}/izvedba" class="btn btn-primary dodaj" ng-show="vm.vpisan.skrbnik == true"><div class="glyphicon glyphicon-plus-sign"></div>Dodaj izvedbo predmeta</a>
    <br>
    <div class="container table-responsive">
        <table id="tabela_izvedb" class="table table-hover" ng-init="vm.prikaziIzvedbe()">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Študijsko leto</th>
                    <!--<th>Izpiti</th>-->
                    <th>Izvajalci</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="izvedba in query = (vm.izvedbe_predmeta | filter: iskanje) | limitTo:vm.naStran:vm.stran*vm.naStran">
                    <td>{{ ($index + 1) + (vm.stran * vm.naStran) }}</td>
                    <td>{{ izvedba.studijsko_leto.studijsko_leto }}</td>
                    <!--<td>
                      <ul>
                        <li ng-repeat="izpit in izvedba.izpiti"> a </li>  
                      </ul>
                    </td>-->
                    <!--<td>/</td>-->
                    <!--<td><button class="btn btn-primary" type="button" ng-click="vm.naIzpit(izvedba._id)">Izpiti</button></td>-->
                    <td>
                      <ul>
                        <li ng-repeat="izvajalec in izvedba.izvajalci">{{izvajalec.naziv}} {{izvajalec.ime}} {{izvajalec.priimek}}</li>  
                      </ul>
                    </td>
                    
                    <td><button class="btn btn-primary" type="button" ng-click="vm.urediIzvedbo(izvedba._id)" ng-show="vm.vpisan.skrbnik == true">Uredi</button></td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.pokaziVpisane(izvedba.studijsko_leto._id)">Seznam vpisanih</button></td>
                    <td><button class="btn btn-danger" type="button" ng-click="vm.izbrisiIzvedbo(izvedba._id)" ng-show="vm.vpisan.skrbnik == true">Izbriši</button></td>
                    <!--<td><button class="btn btn-primary" type="button" ng-click="vm.urediIzvajalce(izvedba._id)">Izpiti</button></td>-->
                    <!--<td><button class="btn btn-primary" type="button" ng-click="vm.urediIzvajalce(izvedba._id)">Izvajalci</button></td>-->
                </tr>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.stran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.stran +1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.stran == vm.strani.length -1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
    </div>
    
    <a href="/urediPredmete" class="btn btn-danger" type="button">Nazaj na predmete</a>
</div>
