<navigation></navigation>
<div class="container">
    <h3>{{ vm.predmet.sifra }}, {{ vm.predmet.naziv }}</h3>
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <a href="/dodajIzvedboPredmeta/{{vm.predmetId}}/izvedba" class="btn"><div class="glyphicon glyphicon-plus-sign"></div></a>
    <div class="container table-responsive">
        <table ng-show="!iskanje" id="tabela_izvedb" class="table table-hover" ng-init="vm.prikaziIzvedbe()">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Študijsko leto</th>
                    <th>Izpiti</th>
                    <th>Izvajalci</th>
                </tr>
            </thead>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.trenutnaStran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.trenutnaStran+1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.trenutnaStran == vm.izvedbe.length - 1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
            <tbody>
                <tr ng-repeat="izvedba in vm.izvedbe_predmeta[vm.trenutnaStran]">
                    <td>{{ ($index + 1) + (vm.trenutnaStran * vm.stIzvedbNaStran) }}</td>
                    <td>{{ izvedba.studijsko_leto.studijsko_leto }}</td>
                    <!--<td>
                      <ul>
                        <li ng-repeat="izpit in izvedba.izpiti">/</li>  
                      </ul>
                    </td>-->
                    <td>/</td>
                    <td>
                      <ul>
                          <li ng-repeat="izvajalec in izvedba.izvajalci">{{izvajalec.naziv}} {{izvajalec.ime}} {{izvajalec.priimek}}</li>  
                      </ul>
                    </td>
                    
                    <td><button class="btn btn-primary" type="button" ng-click="vm.urediIzvedbo(izvedba._id)">Uredi</button></td>
                    <td><button class="btn btn-danger" type="button" ng-click="vm.izbrisiIzvedbo(izvedba.studijsko_leto._id)">Izbriši</button></td>
                    <!--<td><button class="btn btn-primary" type="button" ng-click="vm.urediIzvajalce(izvedba._id)">Izpiti</button></td>-->
                    <!--<td><button class="btn btn-primary" type="button" ng-click="vm.urediIzvajalce(izvedba._id)">Izvajalci</button></td>-->
                </tr>
            </tbody>
        </table>
        <table ng-show="iskanje" id="tabela_izvedb" class="table table-hover" ng-init="vm.prikaziIzvedbe()">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Študijsko leto</th>
                    <th>Izpiti</th>
                    <th>Izvajalci</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="izvedba in vm.izvedbe_predmeta[vm.trenutnaStran] | filter: iskanje">
                    <td>{{ ($index + 1) + (vm.trenutnaStran * vm.stIzvedbNaStran) }}</td>
                    <td>{{ izvedba.studijsko_leto.studijsko_leto }}</td>
                    <!--<td>
                      <ul>
                        <li ng-repeat="izpit in izvedba.izpiti">/s</li>  
                      </ul>
                    </td>-->
                    <td>/</td>
                    <td>
                      
                      <ul>
                        <li ng-repeat="izvajalec in izvedba.izvajalci">{{izvajalec.naziv}} {{izvajalec.ime}} {{izvajalec.priimek}}</li>  
                      </ul>
                    </td>
                    
                    <td><button class="btn btn-primary" type="button" ng-click="vm.urediIzvedbo(izvedba._id)">Uredi</button></td>
                    <td><button class="btn btn-danger" type="button" ng-click="vm.izbrisiIzvedbo(izvedba.studijsko_leto._id)">Izbriši</button></td>
                    <!--<td><button class="btn btn-primary" type="button" ng-click="vm.urediIzvajalce(izvedba._id)">Izpiti</button></td>-->
                    <!--<td><button class="btn btn-primary" type="button" ng-click="vm.urediIzvajalce(izvedba._id)">Izvajalci</button></td>-->
                </tr>
            </tbody>
        </table>
    </div>
    
    <a href="/urediPredmete" class="btn btn-success" type="button">Nazaj na predmete</a>
</div>
