<div ng-init="vm.prikaziKandidata()"></div>
<div role="allert" class="alert alert-danger" ng-show="vm.obvestilo">{{vm.obvestilo}}</div>
<form role ="form" ng-submit="vm.shrani()" class="form-horizonral">
    <div class="col-sm-12">
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Točke izpita (0 - 100):</label>
                <input class="form-control" type="text" value="{{vm.kandidat.tock}}" ng-model="vm.kandidat.tock">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Ocena izpita</label>
                <select class="form-control" value="{{vm.kandidat.ocena}}" ng-model="vm.kandidat.ocena" ng-options="oc for oc in vm.opcijeOcen"></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Končna ocena</label>
                <select class="form-control" value="{{vm.kandidat.koncna_ocena}}" ng-model="vm.kandidat.koncna_ocena" ng-options="oc for oc in vm.opcijeOcen"></select>
            </div>
        </div>
        <button class="btn btn-success"  type="submit">Shrani</button>
        <button class="btn btn-danger pull-right" type="button" ng-click="vm.preklici()">Prekliči</button>
    </div>
</form>