<header style="margin-bottom: 15px"></header>
<navigation></navigation>
<div class="container">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <a href="/dodajZaposlenega" class="btn btn-primary dodaj"><div class="glyphicon glyphicon-plus-sign"></div>Dodaj</a>
    <div class="container table-responsive">
        <table id="tabela_zaposlenih" class="table table-hover" ng-init="vm.prikaziZaposlene()">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-click="orderByMe('zaposlen.priimek')">Priimek</th>
                    <th ng-click="orderByMe('zaposlen.ime')">Ime</th>
                    <th ng-click="orderByMe('zaposlen.naziv')">Naziv</th>
                    <th ng-click="orderByMe('zaposlen.email')">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="zaposlen in query = (vm.zaposleni | filter:iskanje) | orderBy:myOrderBy:bool | limitTo:vm.naStran:vm.stran" ng-class="(zaposlen.valid ? '' : 'alert alert-danger')">
                    <td>{{ ($index + 1) + (vm.stran * vm.naStran) }}</td>
                    <td>{{ zaposlen.zaposlen.priimek }}</td>
                    <td>{{ zaposlen.zaposlen.ime }}</td>
                    <td>{{ zaposlen.zaposlen.naziv }}</td>
                    <td>{{ zaposlen.zaposlen.email }}</td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(zaposlen.zaposlen._id)">Uredi</button></td>
                    <td>
                        <button ng-show="{{zaposlen.valid}}" class="btn btn-primary" type="button" ng-click="vm.izbris(zaposlen.zaposlen._id)">Izbriši</button>
                        <button ng-show="{{!zaposlen.valid}}" class="btn btn-primary" type="button" ng-click="vm.obnovi(zaposlen.zaposlen._id)">Obnovi</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.stran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.stran +1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.stran == vm.strani.length -1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
        <button ng-json-export-excel data="query"
        report-fields="{'zaposlen.priimek': 'Priimek', 'zaposlen.ime': 'Ime', 'zaposlen.naziv': 'Naziv', 'zaposlen.email': 'Email'}"
        filename="'filename'" class="btn-sm btn-primary">ExportCSV</button>
         <button type="button" ng-click="vm.exportDataPDF()">PDF</button>
    </div>
</div>
