<header style="margin-bottom: 15px"></header>
<navigation></navigation>
<div class="container">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <a href="/dodajDelePredmeta" class="btn btn-primary dodaj"><div class="glyphicon glyphicon-plus-sign"> Dodaj</div></a>
    <div class="container table-responsive">
        <table id="tabela_delovPredmetnika" class="table table-hover" ng-init="vm.prikaziDelePredmetnika()">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-click="orderByMe('sifra')">Šifra</th>
                    <th ng-click="orderByMe('naziv')">Naziv</th>
                    <th ng-click="orderByMe('obvezen')">Obvezen</th>
                    <th ng-click="orderByMe('strokovni')">Strokovni</th>
                    <th ng-click="orderByMe('modul')">Modul</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="delPredmetnika in query = (vm.deliPredmetnika | filter: iskanje) | orderBy:myOrderBy:bool | limitTo:vm.naStran:vm.stran*vm.naStran" ng-class="(delPredmetnika.valid ? '' : 'alert alert-danger')">
                    <td>{{ ($index + 1) + (vm.stran * vm.naStran) }}</td>
                    <td>{{ delPredmetnika.sifra }}</td>
                    <td>{{ delPredmetnika.naziv }}</td>
                    <td>{{ delPredmetnika.obvezen }}</td>
                    <td>{{ delPredmetnika.strokovni }}</td>
                    <td>{{ delPredmetnika.modul }}</td>
                    <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(delPredmetnika._id)">Uredi</button></td>
                    <td>
                        <button ng-show="{{delPredmetnika.valid}}" class="btn btn-primary" type="button" ng-click="vm.izbris(delPredmetnika._id)">Izbriši</button>
                        <button ng-show="{{!delPredmetnika.valid}}" class="btn btn-primary" type="button" ng-click="vm.obnovi(delPredmetnika._id)">Obnovi</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="6">
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.stran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.stran +1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.stran == vm.strani.length -1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
        </table>
    </div>
</div>
