<header></header>
<h2>Vpis v {{vm.podatkiVpisnice.vpisniList.letnik.naziv}}</h2>
<div role="alert" class="alert alert-danger" ng-show="vm.sporocilo">{{vm.sporocilo}}</div>
<h3>Obvezni predmeti</h3>

<table class="table table-hover">
    <tbody>
        <tr ng-repeat="x in vm.podatkiVpisnice.vpisniList.obvezniPredmeti">
            <td>{{x.sifra}}</td>
            <td>{{x.naziv}}</td>
            <td>{{x.KT}} KT</td>
        </tr>
    </tbody>
</table>

<h3 ng-show="vm.podatkiVpisnice.moduli">Moduli</h3>

<table class="table table-hover" ng-show="vm.podatkiVpisnice.moduli">
    <tbody>
        <tr ng-repeat="x in vm.podatkiVpisnice.moduli">
            <td>{{x.ime}}</td>
            <td>
                <ul>
                    <li ng-repeat="y in x.predmeti">{{y.sifra}}, {{y.naziv}}, {{y.KT}} KT</li>
                </ul>
            </td>
            <td>
                <button ng-hide="vm.izbranModul(x._id)" class="btn btn-success" type="button"  ng-click="vm.dodajModul(x)">Izberi</button>
                <button ng-hide="!vm.izbranModul(x._id)" class="btn btn-danger" type="button"  ng-click="vm.odstraniModul(x._id)">Odstrani</button>
            </td>
        </tr>
    </tbody>
</table>

<h3 ng-show="vm.podatkiVpisnice.strokovniIzbirniPredmeti">Strokovno izbirni predmeti</h3>

<table class="table table-hover" ng-show="vm.podatkiVpisnice.strokovniIzbirniPredmeti">
    <tbody>
        <tr ng-repeat="x in vm.podatkiVpisnice.strokovniIzbirniPredmeti">
            <td>{{x.sifra}}</td>
            <td>{{x.naziv}}</td>
            <td>{{x.KT}} KT</td>
            <td><button ng-hide="vm.izbran(x._id)" class="btn btn-success" type="button" ng-click="vm.dodajStrokovnoIzbirni(x._id)">Izberi</button>
                <button ng-hide="!vm.izbran(x._id)" class="btn btn-danger" type="button" ng-click="vm.odstraniStrokovnoIzbirni(x._id)">Odstrani</button></td>
        </tr>
    </tbody>
</table>

<h3 ng-show="vm.podatkiVpisnice.splosniIzbirniPredmeti">Splošno izbirni predmeti</h3>

<table class="table table-hover" ng-show="vm.podatkiVpisnice.splosniIzbirniPredmeti">
    <tbody>
        <tr ng-repeat="x in vm.podatkiVpisnice.splosniIzbirniPredmeti">
            <td>{{x.sifra}}</td>
            <td>{{x.naziv}}</td>
            <td>{{x.KT}} KT</td>
            <td><button ng-hide="vm.izbran(x._id)" class="btn btn-success" type="button" ng-click="vm.dodajSplosnoIzbirni(x._id)">Izberi</button>
                <button ng-hide="!vm.izbran(x._id)" class="btn btn-danger" type="button" ng-click="vm.odstraniSplosnoIzbirni(x._id)">Odstrani</button></td>
        </tr>
    </tbody>
</table>



<button class="btn btn-success pull-right" type="button" ng-click="vm.naslednjiKorak()">Naprej</button>

