<header></header>

<h2>Vpis v {{vm.podatkiVpisnice.letnik.naziv}}</h2>

<div class="container" style="margin-top: 10px; margin-left: 0px; margin-bottom: 15px">
    <h3>Podatki o študijskem programu:</h3>
    <div class="container" style="margin-left: 15px">
        <div class="row">
            <label>Študijski program:</label>
            {{vm.podatkiVpisnice.studijski_program.naziv}}
        </div>
        <div class="row">
            <label>Vrsta študija:</label> 
            {{vm.podatkiVpisnice.vrsta_studija.sifra}} {{vm.podatkiVpisnice.vrsta_studija.opis}}
        </div>
        <div class="row">
           <label>Vrsta vpisa:</label> 
           {{vm.podatkiVpisnice.vrsta_vpisa.naziv}}
        </div>
        <div class="row">
            <label>Letnik:</label>
            {{vm.podatkiVpisnice.letnik.naziv}}
        </div>
        <div class="row">
            <label>Način študija:</label>
            {{vm.podatkiVpisnice.nacin_studija.naziv}}
        </div>
        <div class="row">
            <label>Študijsko leto:</label>
            {{vm.podatkiVpisnice.studijsko_leto.studijsko_leto}}
        </div>
    </div>

    <h3>Podatki o študentu:</h3>
    <div class="container" style="margin-left: 15px">
        <div class="row">
            <label>Vpisna številka:</label>
            {{vm.podatkiVpisnice.student.vpisna_stevilka}}
        </div>
        <div class="row">
            <label>Priimek in ime:</label>
            {{vm.podatkiVpisnice.student.priimek}}, {{vm.podatkiVpisnice.student.ime}}
        </div>
        <div class="row">
            <label>Datum rojstva:</label>
            {{vm.podatkiVpisnice.student.datum_rojstva | date:'dd. MM. yyyy'}}
        </div>
        <div class="row">
            <label>Kraj rojstva:</label>
            {{vm.podatkiVpisnice.student.kraj_rojstva}}
        </div>
        <div class="row">
            <label>Država, občina rojstva:</label>
            {{vm.podatkiStudenta.drzava_rojstva.slovenski_naziv}}, {{vm.podatkiStudenta.obcina_rojstva.ime}}
        </div>
        <div class="row">
            <label>Državljanstvo:</label>
            {{vm.podatkiVpisnice.student.drzavljanstvo}}
        </div>
        <div class="row">
            <label>Spol:</label>
            {{vm.podatkiVpisnice.student.spol}}
        </div>
        <div class="row">
            <label>EMŠO:</label>
            {{vm.podatkiVpisnice.student.emso}}
        </div>
        <div class="row">
            <label>Davčna številka:</label>
            {{vm.podatkiVpisnice.student.davcna_stevilka}}
        </div>
        <div class="row">
            <label>e-pošta:</label>
            {{vm.podatkiVpisnice.student.email}}
        </div>
        <div class="row">
            <label>Prenosni telefon:</label>
            {{vm.podatkiVpisnice.student.prenosni_telefon}}
        </div>
        <div class="row">
            <label>Stalno bivališče:</label>
            {{vm.podatkiStudenta.stalno_bivalisce_naslov}}, {{vm.podatkiStudenta.stalno_bivalisce_obcina.ime}}, {{vm.podatkiStudenta.stalno_bivalisce_posta.naziv}}, {{vm.podatkiStudenta.stalno_bivalisce_drzava.slovenski_naziv}}, Vročanje: {{vm.podatkiStudenta.stalno_bivalisce_vrocanje}}
        </div>
        <div ng-show="vm.podatkiVpisnice.student.zacasno_bivalisce_naslov" class="row">
            <label>Začasno bivališče:</label>
            {{vm.podatkiStudenta.zacasno_bivalisce_naslov}}, {{vm.podatkiStudenta.zacasno_bivalisce_obcina.ime}}, {{vm.podatkiStudenta.zacasno_bivalisce_posta.naziv}}, {{vm.podatkiStudenta.zacasno_bivalisce_drzava.slovenski_naziv}}, Vročanje: {{vm.podatkiStudenta.zacasno_bivalisce_vrocanje}}
        </div>
    </div>
    
    <h3>Predmetnik</h3>
    <div class="container" style="margin-left: 15px">
        <table class="table table-hover">
            <tbody>
                <tr ng-repeat="x in vm.podatkiVpisnice.obvezniPredmeti">
                    <td>{{x.sifra}}</td>
                    <td>{{x.naziv}}</td>
                    <td>{{x.KT}} KT</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>Predhodno dosežena izobrazba</h3>
    <div class="container" style="margin-left: 15px">
        <div class="row">
            <label>Zavod:</label>
            {{vm.podatkiVpisnice.student.predhodna_izobrazba.zavod}}
        </div>
        <div class="row">
            <label>Kraj:</label>
            {{vm.podatkiVpisnice.student.predhodna_izobrazba.kraj}}
        </div>
        <div class="row">
            <label>Država:</label>
             {{vm.podatkiStudenta.predhodna_izobrazba.drzava.slovenski_naziv}}
        </div>
        <div class="row">
            <label>Program:</label>
             {{vm.podatkiVpisnice.student.predhodna_izobrazba.program}}
        </div>
        <div class="row">
            <label>Leto zaključka:</label>
             {{vm.podatkiVpisnice.student.predhodna_izobrazba.leto_zakljucka}}
        </div>
        <div class="row">
            <label>Uspeh:</label>
             {{vm.podatkiVpisnice.student.predhodna_izobrazba.uspeh}}
        </div>
        <div class="row">
            <label>Smer/naziv strokovne izobrazbe:</label>
             {{vm.podatkiVpisnice.student.predhodna_izobrazba.smer_strokovna_izobrazba}}
        </div>
        <div class="row">
            <label>Način končanja srednje šole:</label>
             {{vm.podatkiVpisnice.student.predhodna_izobrazba.nacin_koncanja}}
        </div>
        <div class="row">
            <label>Najvišja dosežena izobrazba:</label>
             {{vm.podatkiStudenta.predhodna_izobrazba.najvisja_dosezena_izobrazba.opis}}
        </div>
    </div>
    
</div>
<button type="btn" class="btn btn-danger" ng-click="vm.nazaj()">Nazaj na izbiro predmetov</button>
<button type="btn" class="btn btn-success pull-right" ng-click="vm.zakljucekVpisa()">Zaključi z vpisom</button> 
