<header style="margin-bottom: 15px"></header>
<div class="container">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-4">
                <input type="text" class="search-query form-control" placeholder="Iskanje" ng-model="iskanje"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
   

    <div id = "exportable" class="container table-responsive">
        <table ng-show="!iskanje" id="tabela_obcin" class="table table-hover" ng-init="vm.prikaziStudente()">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-click="orderByMe('vpisna_stevilka')">Vpisna številka</th>
                    <th ng-click="orderByMe('priimek')">Priimek</th>
                    <th ng-click="orderByMe('ime')">Ime</th>
                </tr>
            </thead>
            <tfoot>
                <td colspan="6">
                   
                    <div class="pull-right">
                        <ul class="pagination">
                            <li ng-class="{disabled: vm.trenutnaStran == 0}">
                                <a href ng-click="vm.prevPage()"><< Prejšnja</a>
                            </li>
                            <li ng-repeat="n in vm.strani" ng-class="{active: vm.trenutnaStran+1 == n}">
                                <a href ng-click="vm.setPage(n)">{{ n }}</a>
                            </li>
                            <li ng-class="{disabled: vm.trenutnaStran == vm.predmeti.length - 1}">
                                <a href ng-click="vm.nextPage()">Naslednja >></a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tfoot>
            <tbody>
                <tr ng-repeat="student in vm.studenti[vm.trenutnaStran] | localeOrderBy:myOrderBy:bool" >
                    <td>{{ ($index + 1) + (vm.trenutnaStran * vm.stStudentovNaStran) }}</td>
                    <td>{{ student.vpisna_stevilka }}</td>
                    <td>{{ student.priimek }}</td>
                    <td>{{ student.ime }}</td>
                    
                   <td><button class="btn btn-primary" type="button" ng-click="vm.zeton(student._id)">Generiraj žeton za vpis</button></td>
                   
             
                </tr>
            </tbody>
        </table>
        <table ng-show="iskanje" id="tabela_drzav" class="table table-hover" ng-init="vm.prikaziStudente()">
            <thead>
                <tr>
                    <th>#</th>
                   <th ng-click="orderByMe('vpisna_stevilka')">Vpisna številka</th>
                    <th ng-click="orderByMe('priimek')">Priimek</th>
                    <th ng-click="orderByMe('ime')">Ime</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in vm.vsiPodatki | filter: iskanje | localeOrderBy:myOrderBy:bool" >
                    <td>{{ ($index + 1) + (vm.trenutnaStran * vm.stStudentovNaStran) }}</td>
                    <td>{{ student.vpisna_stevilka }}</td>
                    <td>{{ student.priimek }}</td>
                    <td>{{ student.ime }}</td>
                    
                   <td><button class="btn btn-primary" type="button" ng-click="vm.uredi(student._id)">Podrobnosti</button></td>
                   
                   
                </tr>
            </tbody>
        </table>
    </div>
    
     <a href="/student/main" class="btn" type="button" id="option">Nazaj</a>
</div>
