<div class='row'>
  <div class='col'>
    <form style='padding: 0.8em 1.2em 0.8em 1.2em;' ng-submit="gvm.sendData()" id="selectGenres">
      <div class='panel-group'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <h2 class='panel-title'>
              <a data-toggle='collapse' href="#genres" no-default>
                <div class='glyphicon glyphicon-check'></div>
                &nbsp;Filter genres
              </a>
            </h2>
          </div>
          <div id='genres' class='panel-collapse collapse'>
            <ul class='list-group' style='margin: 1em;'>
              <li class='list-group-item'>
                <ul class='list-group row' style='margin: 0.5em;'>
                  <li class='col-xs-6 col-sm-4 col-lg-3' ng-repeat="genre in genres">
                    <input type='checkbox' name='g' value='{{ genre }}' class='{{ genre }}' ng-model="gvm.genreStates[genre]" ng-click="gvm.saveGenreStates()"/>
                    <label>{{ genre }}</label>
                  </li>
                </ul>
              </li>
            </ul>
            <div class='panel-footer'>
              <button class='btn btn-info' type="submit">Filter genres</button>
              <button class='btn btn-info' type="button" ng-click="gvm.clear()">Clear selected</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>