<!-- tukaj naj bo shranjen pogled za glavo aplikacije-->
<a href="/" style="height: 100%">
    <img src="/assets/studisTest.png" style="height: 100px; float:left; margin-left: 30px">
    <h1 style="color:white; float: left; margin-top: 33px; margin-left: 20px">Studis 2.0</h1>
</a>
<div ng-show="vm.vpisan" class="row">
    <div class="pull-right">
        <button class="btn btn-danger" id="logout" ng-click="vm.logoutFunc()" style="position: static; margin-top: 20px; margin-right: 0px;">Odjava</button>
        <div style="margin-right: 50px; color: white; font-size: 16px; margin-top: 20px">
                {{ vm.ime }} {{ vm.priimek }}
        </div> 
        <!--<button ng-show="vm.jeStudent" class="btn btn-success" id="myProf" type="submit" ng-click="myData()" style="top: 30px">Moj profil</button>-->

    </div>
</div>